.dropdown-container {
  position: relative;
}

.dropdown-select {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.dropdown-clear {
  width: 30px;
}

.dropdown-main {
  display: flex;
  flex-grow: 1;
  height: 25px;
}

.dropdown-list {
  max-height: 300px;
  overflow: auto;
  position: absolute;
  background: white;
  width: calc(100% - 2px);
  border: 1px solid;
  margin-top: -1px;
  z-index: 1;
}

.dropdown-search {
  width: calc(100% - 4px);
  border: none;
  border-bottom: 1px solid;
}

.dropdown-search:focus {
  outline: none;
}

.dropdown-list:focus {
  outline: none;
}

.dropdown-list-item {
  margin: 5px;
  user-select: none;
}

.selected {
  color: blue;
}

.highlighted {
  background: lightgray;
}

.App {
  display: flex;
  flex-direction: column;
  width: 300px;
}
